{% extends 'base.html' %}

{% block title %}Téléscopes{% endblock %}

{% block content %}
    <h1>Téléscopes</h1>

    <h2>Téléscopes pour enfants</h2>
    <ul>
        <li>Marque: Celestron, Modèle: FirstScope, Date de sortie: 2010, Score: 3/5</li>
        <li>Marque: Orion, Modèle: SpaceProbe 76, Date de sortie: 2008, Score: 4/5</li>
    </ul>

    <h2>Automatisés</h2>
    <ul>
        <li>Marque: Sky-Watcher, Modèle: Evostar 150, Date de sortie: 2015, Score: 4/5</li>
        <li>Marque: Celestron, Modèle: NexStar 6SE, Date de sortie: 2013, Score: 5/5</li>
    </ul>

    <h2>Téléscopes complets</h2>
    <ul>
        <li>Marque: Meade, Modèle: LX600, Date de sortie: 2018, Score: 5/5</li>
        <li>Marque: Explore Scientific, Modèle: ED127 FCD100, Date de sortie: 2016, Score: 5/5</li>
    </ul>
{% endblock %}